#phum{
    font-size: 56px;
    color: black;
}


#pdois{
    font-size: 56px;
    color:rgb(6, 146, 67);
}#p-2{
    font-size: 56px;
    color:firebrick ;
}#p-3{
    font-size: 22px;
}#p-4{
    font-size: 45px;
    color:firebrick ;
}#p-5{
    font-size: 22px;
    color: black;
}